<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {{ user.id|json_script:"myID" }}
    {% block body %}
    {% endblock %}
    {% if user.is_authenticated %}<script src="{% static 'js/notifications_ws.js' %}"></script>{% endif %}
</body>
</html>