{% extends "base.html" %}
{% load static %}
{% block title %}
Переписка с {{dm_user}}
{% endblock %}


{% block body %}
{% include "navbar.html" %}
<div style="overflow-y: scroll; height:800px;" id="messages-box">
    <table id="msgs-table">
    </table>
</div>
<section class="msg_form">
    <form class="full">
        <input type="text" id="message" name="msg" required placeholder="Сообщение">
        <input type="submit" id="send-message" value="Send">
    </form>
</section>
{{ dm_user.id|json_script:"profile_user_id" }}
<script src="{% static 'js/message_ws.js' %}"></script>
{% endblock %}