{% extends "base.html" %}
{% load static %}
{% block title %}
Переписка с {{dm_user}}
{% endblock %}


{% block body %}
<div class="dm-container">
    <div class="navbar">{% include "navbar.html" %}</div>
    <div id="messages-box"></div>
    <div class="send-msg-block">
        <section class="msg_form">
            <form class="full">
                <input type="text" id="message" name="msg" required placeholder="Сообщение" autofocus autocomplete="off" maxlength="5000">
                <input type="submit" id="send-message" value="Send">
            </form>
        </section>
    </div>
</div>
{{ dm_user.id|json_script:"profile_user_id" }}
<script src="{% static 'js/message_ws.js' %}"></script>
{% endblock %}