{% extends "base.html" %}
{% load static %}
{% block title %}
Переписка с {{dm_user}}
{% endblock %}


{% block body %}
{% include "navbar.html" %}
<div id="messages-box" style="height: 800px;">
</div>
<section class="msg_form">
    <form class="full">
        <input type="text" id="message" name="msg" required placeholder="Сообщение" autofocus autocomplete="off">
        <input type="submit" id="send-message" value="Send">
    </form>
</section>
{{ dm_user.id|json_script:"profile_user_id" }}
<script src="{% static 'js/message_ws.js' %}"></script>
{% endblock %}