{% extends "base.html" %}
{% block title %}
{% if my %}Ваши друзья{% else %}Друзья {{profile_user}}{% endif %}
{% endblock %}


{% block body %}
{% include "navbar.html" %}
{% if users %}
<p>
<table id="users-table">
    {% for usr in users %}
        <tr><th><a href="/profile/{{usr.user.url}}"><img class="avatar tiny" src="{{usr.user.avatar.url}}"></a>
            <a href="/profile/{{usr.user.url}}">{{usr.user}}</a>{% if not usr.is_accepted %} <a>●</a>{% endif %}</th></tr>
    {% endfor %}
</table>
</p>
{% endif %}
{% endblock %}