{% extends "base.html" %}
{% block title %}
Login page
{% endblock %}


{% block body %}
<section class="auth_form">
    <h2>Добро пожаловать в VK-Killer!</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.username}}
        {{form.password}}
        <input type="submit" value="Login">
        {% if messages %}
        <p class="error">
            {% for msg in messages %}
            <a>{{msg}}</a>
            {% endfor %}
        </p>
        {% endif %}
        <p>Ещё нет аккаунта? <a href="../register">Зарегистрируйтесь</a> сейчас!</p>
        {{captcha}}
    </form>
</section>
{% endblock %}