{% extends "base.html" %}
{% load static %}
{% block title %}
Пост {{post.user.username}}
{% endblock %}


{% block body %}
{% include "navbar.html" %}
<div class="posts" style="overflow-y: scroll;" id="posts-box">
</div>
{% if user.is_authenticated %}
<form class="comment-form" method="POST" action="">
    {% csrf_token %}
    <input type="text" name="message" required autocomplete="off" size=50 placeholder="Комментарий">
    <button type="submit" name="action" value="send_comment">Отправить</button>
</form>
{% endif %}
{{ posts_info|json_script:"posts_info" }}
<script src="{% static 'js/posts_ws.js' %}"></script>
{% endblock %}