{% extends "base.html" %}
{% load static %}
{% block title %}
{% if profile_user == user %}Ваш профиль{% else %}Профиль {{profile_user}}{% endif %}
{% endblock %}


{% block body %}

<div class="profile-container">
    <div class="navbar">{% include "navbar.html" %}</div>
    <div class="profile-info padd">
        <div class="profile-info-container">
            <div class="nickname"><h3>{{profile_user}}</h3></div>
            <img class="avatar" src="{{profile_user.avatar.url}}">
            <div class="last-seen">{{last_seen}}</div>
            {% if not profile_user == user and user.is_authenticated %}
                <div class="send-message-button"><a href="/dm/{{profile_user.url}}"><button>Написать сообщение</button></a></div>
                {% if not user in offer_accepted_users %}
                    <div class="add-friend-button">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <button type="submit" name="action" value="add_friend">Добавить в друзья</button>
                        </form>
                    </div>
                    {% if profile_user in offer_accepted_users %}
                        <small>Пользователь подписан на вас</small>
                    {% endif %}
                {% else %}
                    <div class="delete-friend-button">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <button type="submit" name="action" value="remove_friend">Удалить из друзей</button>
                        </form>
                    </div>
                    {% if profile_user in offer_accepted_users %}
                        <small>Пользователь у вас в друзьях</small>
                    {% else %}
                        <small>Заявка в друзья отправлена</small>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if friends %}
                <div class="friends-count"><a class="link-text" href="/friends/{{profile_user.url}}">Друзей: {{friends_count}}</a></div>
                <div class="friends">
                    <table>
                        <tr>
                            {% for fr in friends %}
                                <th><a href="/profile/{{fr.url}}"><img class="avatar small" src="{{fr.avatar.url}}"><br>
                                    <a href="/profile/{{fr.url}}" class="link-text nickname-small">{{fr}}</a></a></th>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="posts" style="overflow-y: scroll;" id="posts-box">
    </div>
    <div class="new-post padd">
        {% if profile_user == user %}
            <img id="preview_image">
            <form method="POST" enctype="multipart/form-data" class="full">
                {% csrf_token %}
                <a>Опубликовать новый пост</a>
                <input type="text" name="message" placeholder="Сообщение" maxlength="5000">
                <input id="photo_input" type="file" name="image" style="display: none">
                <button type="submit" name="action" value="create_post">Опубликовать</button>
                <label for="photo_input"><img class="avatar small" src="{% static 'images/image.png' %}"><br>Добавить фото (не больше 20МБ)</label>
            </form>
        {% endif %}
    </div>
</div>
{{ posts_info|json_script:"posts_info" }}
{% if profile_user == user %}<script src="{% static 'js/microblog.js' %}"></script>{% endif %}
<script src="{% static 'js/posts_ws.js' %}"></script>
{% endblock %}