{% extends "base.html" %}
{% block title %}
Register page
{% endblock %}


{% block body %}
<section class="auth_form">
    <h2>Добро пожаловать в VK-Killer!</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.username}}
        {{form.email}}
        {{form.password1}}
        {{form.password2}}
        <input type="submit" value="Register">
        {% if form.errors %}
        <div class="error">
            {% for field in form %}
                {% for error in field.errors %}
                    <strong>{{ error|escape }}</strong><br>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <p>Уже есть аккаунт? <a href="../login">Войдите</a> сейчас!</p>
        {{captcha}}
    </form>
</section>
{% endblock %}