.auth_form {
    position: fixed;
    z-index: 5;
    background-color: #00000000;
    display: block;
    padding: 1em;
    border-radius: 1em;
    width: 250px;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid black;
    color: black;
    background-color: #ebebeb;
    outline: none;
}

input[type=submit] {    
    cursor: pointer;
    width: 100px;
}

form {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5em;
}

.error {
    color: red;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10%;
    background: #353642;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_logout li {
    display: inline-block;
    padding: 0px 10px;
}

.left li {
    margin-left: auto;
}

img.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

img.avatar.small {
    width: 50px;
    height: 50px;
}

img.avatar.tiny {
    width: 25px;
    height: 25px;
}

.timestamp {
    font-size: 0.7em;
    color: #00000055 !important;
}

#msgs-table {
    text-align: left;
    padding-left: 10px;
}

#msgs-table th {
    padding-left: 10px;
}

#msgs-table .msg {
    font-weight: lighter;
    padding-bottom: 5px;
}

#msgs-table .user {
    padding-top: 10px;
}

#msgs-table a {
    text-decoration: none;
    color:black;
}

#messages-box .user {
    font-weight: bolder;
    padding-top: 12px;
}

#messages-box a {
    text-decoration: none;
    color:black;
}

#users-table a {
    text-decoration: none;
    color:black;
    vertical-align: middle;
}

#users-table {
    text-align: left;
    padding-left: 10px;
}

.link-text {
    text-decoration: none;
    color:black;
}

.nickname-small {
    font-size: 0.7em;
    color: #000000b4 !important;
}

.post-image {
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

#preview_image {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.profile-container {
    width: 100vw;
    height: 100vh;

    display: grid;

    gap: 10px;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 60px 1fr 1fr;
}

.navbar {
    grid-column: 1 / span 2;
}

.posts {
    grid-column-start: 2;
    grid-row: 2 / span 2;
}

.new-post {
    align-self: flex-end;
}


.post-container {
    border: 1px solid #000000;

    display: grid;

    grid-template-columns: 50px 7fr 1fr;

    gap: 10px;

    padding: 8px;
}

.post-container .avatar {
    grid-row: 1 / span 2;

    align-self: flex-end;
}


.post-container .like {
    grid-row: 1 / span 2;
    grid-column-start: 3;

    text-align: center;

}

.post-container .like form {
    display: block;
}

.like-image {
    width: 35px;
    height: 35px;
}

div.padd {
    padding: 10px;
}

div.padd {
    padding-top: 20px;
}

.settings-container {
    display: grid;

    gap: 10px;

    grid-template-columns: 1fr 3fr;
}

.avatar-container {
    text-align: center;
}

/* .settings {
    background: #c3c5d1;
} */

form.full {
    display: flex;
}

nav a {
    text-decoration: none;
    font-family: 'Murecho', sans-serif;
}

.nav_links a {
    color: #cbcbcb;
}

.nav_logout a {
    color: #999595;
}

#messages-box div.message {
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50px 1fr;

    column-gap: 10px;
}

.divavatar {
    grid-row: 1 / span 2;
}

.msg {
    grid-column-start: 2;
}

#messages-box div.message div {
    padding: 5px 0px 0px 10px;
    text-decoration: none;
    color:black;
    vertical-align: middle;
}

.unread {
    background: #e7e4e4;
}

#messages-box {
    overflow-y: scroll;
}

#messages-box div.message.list {
    grid-template-columns: 50px fit-content(60%) 20px;
}

.marker {
    grid-column-start: 3;
    grid-row: 1 / span 2;
    color: #e93737c2 !important;
    font-size: x-large;
    padding-top: 20px !important;
}

.delete-button {
    cursor: pointer;
}

.hide {
    display: none;
}