.auth_form {
    position: fixed;
    z-index: 5;
    background-color: #00000000;
    display: block;
    padding: 1em;
    border-radius: 1em;
    width: 250px;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid black;
    color: black;
    background-color: #ebebeb;
    outline: none;
}

input[type=submit] {    
    cursor: pointer;
    width: 100px;
}

form {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5em;
}

.error {
    color: red;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10%;
    background: #353642;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_logout li {
    display: inline-block;
    padding: 0px 10px;
}

.left li {
    margin-left: auto;
}

img.avatar {
    max-width: 66%;
    border-radius: 20%;
}

img.avatar.small {
    max-width: 50px;
    width: 50px;
    height: 50px;
}

img.avatar.tiny {
    max-width: 25px;
    width: 25px;
    height: 25px;
}

.timestamp {
    font-size: 0.7em;
    color: #00000055 !important;
    word-break: normal;
}

#msgs-table {
    text-align: left;
    padding-left: 10px;
}

#msgs-table th {
    padding-left: 10px;
}

#msgs-table .msg {
    font-weight: lighter;
    padding-bottom: 5px;
}

#msgs-table .user {
    padding-top: 10px;
}

#msgs-table a {
    text-decoration: none;
    color:black;
}

#messages-box .user {
    font-weight: bolder;
    padding-top: 12px;
}

#messages-box a {
    text-decoration: none;
    color:black;
}

#users-table a {
    text-decoration: none;
    color:black;
    vertical-align: middle;
}

#users-table {
    text-align: left;
    padding-left: 10px;
}

.link-text {
    text-decoration: none;
    color:black;
}

.nickname-small {
    font-size: 0.7em;
    color: #000000b4 !important;
}

.post-image {
    height: auto;
    max-width: 60%;
}

#preview_image {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.profile-container {
    width: 100vw;
    height: 100vh;

    display: grid;

    column-gap: 10px;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr 1fr;
}

.navbar {
    grid-column: 1 / span 2;
}

.posts {
    grid-column-start: 2;
    grid-row: 2 / span 2;
    row-gap: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.posts-feed {
    grid-column-start: 1;
    flex-direction: column;
    padding: 10px;
}

.posts-feed.posts-position-l,
.posts-feed.posts-position-r,
.posts-feed.posts-position-c {
    width: 100%;
    max-width: 680px;
}

.posts-feed.posts-position-l {
    margin-right: auto;
}

.posts-feed.posts-position-r {
    margin-left: auto;
}

.posts-feed.posts-position-c {
    margin-right: auto;
    margin-left: auto;
}

.new-post {
    align-self: flex-end;
}



.post-container {
    border: 1px solid #000000;

    display: grid;

    grid-template-columns: auto 7fr 2fr;

    gap: 10px;

    padding: 8px;
}

.post-container div.avatar {
    grid-row: 1 / span 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.post-container .buttons {
    grid-row: 1 / span 2;
    grid-column-start: 3;

    display: flex;
    justify-content: end;
    align-items: end;
}

.post-container .comments {
    grid-column: 1 / span 3;
    border: 1px solid #00000055;
    padding: 3px;
}

.post-container .comments .comment {
    align-items: center;
    display: flex;
    column-gap: 4px;
}



.post-container .buttons .delete-post {
    align-self: flex-start;
}

.post-container .buttons div {
    padding-inline: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post-container .message {
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 5px;
    word-break: break-word;
}
.post-container .like form {
    display: block;
}

.like-image {
    width: 35px;
}

.comment-like-image {
    width: 15px;
}

div.padd {
    padding: 10px;
}

div.padd {
    padding-top: 20px;
}

.settings-container {
    display: grid;

    gap: 10px;

    grid-template-columns: 1fr 3fr;
}

.avatar-container {
    text-align: center;
    max-width: 400px;
}

/* .settings {
    background: #c3c5d1;
} */

form.full {
    display: flex;
}

nav a {
    text-decoration: none;
    font-family: 'Murecho', sans-serif;
}

.nav_links a {
    color: #cbcbcb;
}

.nav_logout a {
    color: #999595;
}

#messages-box div.message {
    display: grid;

    grid-template-columns: 50px;

    column-gap: 10px;
}

.divavatar {
    grid-row: 1 / span 2;
}

.msg {
    grid-column-start: 2;
}

#messages-box div.message div {
    padding: 5px 0px 0px 10px;
    text-decoration: none;
    color:black;
    vertical-align: middle;
}

.unread {
    background: #e7e4e4;
}

#messages-box {
    overflow-y: scroll;
}

#messages-box div.message.list {
    grid-template-columns: 50px fit-content(60%) 20px;
}

.marker {
    grid-column-start: 3;
    grid-row: 1 / span 2;
    color: #e93737c2 !important;
    font-size: x-large;
    padding-top: 20px !important;
}

.delete-button {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.profile-info-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}

.comment-button {
    order: -1;
}

.comment-form {
    flex-direction: row;
    padding: 10px;
}

.comment-form input {
    flex-direction: row;
    font-size: 0.8em;
}

.like-image {
    content: url("/static/images/like.png");
}

.like-image.pressed {
    content: url("/static/images/like_pressed.png");
}

.last-seen {
    font-size: 0.95em;
    color: #00000094 !important;
}

#feed-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.username-text {
    font-size: 0.85em;
    color: #00000082 !important;
}

.icon35 {
    width: 35px;
}

@media (orientation: portrait) {
    .profile-container {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .profile-container .posts {
        flex-direction: column;
        grid-column: 1 / span 2;
        grid-row-start: 3;
    }
    .friends {
        display: none;
    }
    .new-post {
        grid-column-start: 2;
        align-self: center;
    }
    .post-image {
        max-width: 40vw;
    }
    img.avatar.tiny {
        max-width: 5vw;
        width: 5vw;
        height: 5vw;
    }
    .like-image {
        width: 5vw;
    }
    .comment-like-image {
        width: 15px;
    }
    .post-container .buttons div {
        padding-inline: 1px;
    }
    .comment-form {
        flex-direction: column;
    }
}

.dm-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.feed-buttons-container {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.feed-mode-button {
    font-family: 'Murecho', sans-serif;
    font-size: 17px;
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 10px 22px;
    cursor: pointer;
}

.feed-mode-button.selected {
    background-color: #4CAF50;
    color: white;
}

@media (max-width: 450px) {
    .feed-mode-button {
        font-size: 15px;
        padding: 10px 5px;
    }
}

.login-btn-box {
    display: flex;
    align-items: center;
    column-gap: 10px;
}